services:
  app:
    build:
      target: development
      dockerfile: Containerfile
    environment:
      PGHOST: db
      PGDATABASE: z
      PGUSER: postgres
      PGPASSWORD: postgres
    ports:
      - 8080:8080
    volumes:
      - ./:/app
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: z
    ports:
      - 5432:5432
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
